#create-button {
	margin-top: 3vh;
	margin-bottom: 5vh;
	margin-left: 1%;

	width: 10vw;
	height:5vh;
}
#actions {

}
#art {

}
h1#title {
	text-align: center;
	font-size: 400%;
}

.box {
	border: solid 3px white;
	border-radius: 3%;

	margin-bottom: 3vh;
	padding-bottom: 1%;
	padding-left: 1%;

	width: 20vw;
	min-height: 20vh;
}
.half {
	width: 45vw;
	min-height: 70vh;
	margin-top: 3vh;

	display: inline-block;
}
.button {
	background: none;
	border: solid white 3px;
	border-radius: 25%;
	color: white;
	padding: 1%;
}


h1 {
	margin-bottom: 0;
}
hr {
	margin-bottom: 3vh;
	width: 10vw;
	border: white 1px solid;
}
html {
	font-family: 'Courier New', monospace;
	color: white;
	background: tan;
}
input {
	background: none;
	color: white;
	margin-bottom: 3%;
}