<!DOCTYPE html>
<html>
	<head>
		<!-- setting meta data --> 
		<meta charset="UTF-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	    <!-- setting page title up -->
		<title>CampChat</title>
		<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='campfire.jpg') }}">

		<!-- linking css page -->
		<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
	</head>


	<body>
		<h1 id="title"> CampChat </h1>
		<hr/>

		<!-- Contains all inputs -->
		<div class="half" id="actions"> 
			<div id="create-room" class="box">
				<form action="\room">
					<h1>Create Room</h1>
					<hr/>

					IP - <input type="text" name="ip-address"><br/>
					Port - <input type="text" name="port-number"><br/>
					Private - <input type="checkbox" name="private"><br/>
					Name - <input type="text" name="nickname"><br/>

					<input type="submit" value="Create Room" class="button"></input>
				</form>
			</div>


			<div id="join-room" class="box">
				<form action="\room">
					<h1>Join Room</h1>
					<hr/>

					Hash - <input type="text" name="room-hash"><br/>

					<input type="submit" value="Join Room" class="button"></input>
				</form>
			</div>


			<div id="room-history" class="box">
				<h1>Past Chatrooms</h1>
				<hr/>
			</div>


			<div id="public-rooms" class="box">
				<h1>Public Chatrooms</h1>
				<hr/>
			</div>	
		</div>


		<!-- Art side -->
		<div class="half" id="art" style="border: solid black 3px">

		</div>
	</body>
</html>