<!DOCTYPE html>
<html>
	<head>
		<!-- setting meta data --> 
		<meta charset="UTF-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	    <!-- setting page title up -->
		<title>Chatroom</title>
		<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='campfire.jpg') }}">

		<!-- linking css page -->
		<link rel="stylesheet" href="{{ url_for('static', filename='room.css') }}">
	</head>


	<body>
		<!-- information header -->
		<div id="info-header">
			<h1>
				Chatroom - 
			</h1>
			<form action="\">
				<input type="submit" value="Quit Room" class="button"></input>
			</form>

			<hr/>
		</div>


		<div id="msg-board">
			<div id="user-board">
				user-board
			</div>

			<div id="chat-board">
				chat-board
			</div>


			<hr/>


			<div>
			<form action="\room">
				<input type="text" name="msg">
				<input type="submit">
			</form>
		</div>
		</div>
		
		
		

		<div class="art">
		</div>

	</body>


</html>